.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  grid-area: job;
  margin: 0;
  max-width: fit-content;
}

@media screen and (max-width: 1023px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}